body {
    background-color: #000080;
    color:#C4C4E2;
    font-family: 'Lucida Console';
}
p.heading {
	display: inline;
	margin-left: 50%;
	margin-right: 50%;
	text-align: center;
    background-color:#AAAAAA;
    color:#000080;
}
h2 {
	text-align: center;
    color:#C4C4E2;

}